<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>Error Header</header>
		<main>
			<section>
				<h1>Error IV</h1>
			</section>
			<section>
				<h2>Error III</h2>
			</section>
			<section>
				<h3>Error II</h3>
			</section>
			<section>
				<h4>Error I</h4>
			</section>
		</main>
		<footer>Error Footer</footer>
	</body>
</html>
